
/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  -------------Utility Classes---------------  */
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 960px;
}

.img-right{
  float: right; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 0px 10px 20px;
}

.img-left{
  float: left; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 20px 10px 0px;
}

.img-center{
  display:block;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* --------- Responsive Images ---------- */

img {
  max-width: 100%;
  height: auto;
}

/*  ------------- Global Styles ---------------  */

body {
  font-family: "roboto";
  margin: 0;
  color:#000;
  background: #969696;
  background: linear-gradient(90deg, rgba(150, 150, 150, 1) 0%, rgba(187, 187, 187, 1) 20%, rgba(187, 187, 187, 1) 80%, rgba(150, 150, 150, 1) 100%);
  font-size: 1.2rem;

/* NAVIGATION */

}
nav {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 180px auto 180px;
  align-items: center;
  z-index: 100;
  background-color: #515151;
  padding: 0 20px;
  box-shadow: 0px 0px 8px #000;
}

nav figure {
  margin: 0;
  padding: 15px 0px;
}

nav img {
  max-width: 180px;
}

nav ul {
  display:flex;
  gap: 4rem;
/* I know adding margins aren't the right call for centering, but
 * I've been working on this for hours now and cannot figure out
 * why it refuses to center, so it's there for now. */
  margin-left: 30px;
  padding: 0;
  list-style: none;
  justify-self: center;
}

nav ul li {
  position: relative;
}

nav ul a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFF;
  transition: transform 0.2s ease;
  overflow: hidden;
}

nav ul a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #FFF;
  transition: width 0.3s ease;
}

nav ul a:hover::after {
  width: 100%;
}

nav ul a:hover {
  transform: scale(1.10);
}


nav button, section#hero-content button,
section#careers button {
  margin: auto 0px;
  padding: 0px 8px;
  height: 80px;
  max-height: 50px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.2);
}

nav button {
  max-width: 120px;
  margin-left: auto;
}

nav button a, section#hero-content button a,
section#careers button a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 300;
}

/* TAGLINE SECTION */

section#tagline {
  background-color: rgba(0,0,0, 0.2);
}

section#tagline h2{
  text-align: center; 
  font-size: 3rem;
  font-weight: 300;
  text-transform:uppercase;
  margin-bottom: 0;
}

section#tagline h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 5px;
}



header.container {
  text-align: center;
  color: #FFF;
  background: #515151;
  border-radius: 3px;
  
}

header.container h2 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px 0px;
}

section#articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  text-align: center;
}

section#articles a {
  color: #000;
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: underline;
}

section#articles article {
  background-color: grey;
  border-radius: 3px;
}


/* SERVICE SECTION */
/* I honestly don't love this at all. I'll come back to it at
* some point after this class is through, but I intend on overhauling
* completely. */

.service-wrapper {
  border-radius: 3px;
  box-shadow: 3px 3px 10px #000;
}

.service-description {
  background: #515151; 
  margin: 0;
  border-radius: 0px 0px 3px 3px;
}

.service-description h4 {
  margin-top: 0px;
  padding: 0px 10px 10px 10px;


  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #FFF;
}

.service-block {
  display: grid;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  border-radius: 3px 3px 0px 0px;
}

.service-img figure img{
  width: 100%;
  display: block;
}

.service-img figure {
  width: 100%;
  margin: 0;
  position: relative;
}

.service-block::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient( to top, rgba(81,81,81,1), rgba(81,81,81,.7), rgba(81,81,81,0));
  z-index: 1;
  content: "";
}

.service-text {
  position: absolute;
  bottom: 0px;
  color: white;
  text-align: center;
  padding: 10px;
  width:100%;
  z-index: 2;
}

.service-text h3 {
  margin-bottom: 5px;
}

/* ---------- Careers Page ---------- */

header.container h2{
  text-transform: uppercase;
}

section#careers p,
section#coverage p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 45px;
}

section#coverage li {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 45px;
  list-style-type: square;
}

section#careers button {
  background: #737373;
  display:block;
  margin: auto auto;
}

section#careers button a {
  margin-left: auto;
}

/* ------- Footer -------- */
footer {
  background-color: #515151;
  padding: 20px 20px;
  color: #FFF;
  margin-top: 30px;
}

footer section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

footer section .footer-left {
  gap: 0px;
  font-size: 1.5rem;
  align-items: start;
  margin-bottom: 30px;
}

footer section .footer-left h6 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
}

footer section .footer-left h6:first-child {
  margin-bottom: 5px;
}

footer section .footer-left h6:first-child,
footer section .footer-right h2:first-child {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
}

footer section .footer-right h2:first-child {
  margin-bottom: 5px;
}

footer section .footer-right {
  gap: 0px;
  font-size: 1.5rem;
  align-items: end;
}

footer section .footer-right h2 {
  margin: 0;
}

footer section .footer-right ul {
  list-style-type: none;
  margin: 0;
}

footer section .footer-right ul li {
  margin-bottom: 10px;
  font-weight: 300; 
  text-decoration: underline;
}

footer section .footer-right ul a{
  text-decoration: none;
  color: #FFF;
}

footer section section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
}

footer section .footer-bottom {
  grid-column: 1 / -1;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
  text-align: center;
}

footer section .footer-bottom h6 {
  font-size: 1.0rem;
  font-weight: 300;
  margin: 10px;
}

footer section .footer-bottom h6 a {
  color: #FFF;
}

/*  ------------- Media Queries ---------------  */


/* Wish I would've read about progressive enhancement earlier.
* If I'd known earlier, I would've started with a mobile layout
* and built media queries for a desktop layout. I'm not super
* happy with the mobile layout I've got though, so I'll redesign
* it at a later date. */

@media only screen and (min-width: 0px) {
section#hero {
  position: relative;
  box-shadow: 5px 5px 8px;
  width: 80vw;
  max-width: 960px;
  overflow: hidden;
  border-radius: 3px;
  margin: 40px auto;

  display: flex;
  align-items: center; 
  justify-content: flex-start; 
}

section#hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

section#hero-content {
  position: relative;   
  text-align: left;
  color: #FFF;
  max-width: 40%;
  margin: 15px 0% 15px 2%;
}


  section#hero-content h1 {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform:uppercase;
    text-align: left;
  }

  section#hero-content button {
    background: #737373;
    position:relative;
    margin-top: 0.5rem;
  }

  section#hero-content button a {
    color: #FFF;
  }

  section#tagline {
    max-width: 960px;
    width: 80vw;
    margin: 40px auto;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #000;
  }

  section#tagline h2 {
    margin-top: 20px;
  }
}




@media only screen and (min-width: 992px) {
  section#hero {
    width: 100%;
    height: 70vh;
    max-width: none;
    margin: 0;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px;
  }

  section#hero img {
    content: url('../img/hero-img-full.webp');
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0px 0px 8px #000;
  }

  section#hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 60%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,1.0);
    padding: 5px;
    margin: 15px 0% 15px 2%;
  }

  section#hero-content h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    margin-top: 32px;
  }

  section#hero-content button {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 32px;
  }

  section#hero-content button a {
    font-size: 1.5rem;
  }


  section#tagline {
    max-width: 100%;
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 8px #000;
    padding: 5px;
    background-color: #515151;
    color: #FFF;
  }

  section#tagline h2 {
    margin-top:0;
    font-weight: 350;
    /* Honestly have no idea how to use clamp. I ballparked these
    * numbers and got lucky because I was trying to keep h3 on one
    * line until the mobile layout kicked in. */
    font-size: clamp(1.5rem, 2rem + .8vw, 3rem);
  }

  section#tagline h3 {
    margin: 5px auto;
    font-weight: 300;
    max-width: 960px;
  }

}

