/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  -------------Utility Classes---------------  */
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 960px;
}

.img-right{
  float: right; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 0px 10px 20px;
}

.img-left{
  float: left; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 20px 10px 0px;
}

.img-center{
  display:block;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

 /*  -------------Global Styles---------------  */

body {
  background-color: #FFFFFF;
  font-family: "montserrat";
  margin:0;
  background-image: url("../img/bg.svg");
}

header.primary {
  position:relative;
  z-index:0;
  background: #5c00b9;
  color: #FFF;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 0px 0px 8px #000;
} 

header.primary h1 {
  font-size: 2.8rem;
  margin-bottom: 0px;
  font-weight: 300;
  text-shadow: 0px 0px 5px #000;
}

header.primary h2 {
  font-weight: 500;
  text-shadow: 0px 0px 5px #000;
  margin-top: 5px;
  font-size: 1.2rem;
}

header.primary::before {
  content:"";
  position:absolute;
  inset:0;
  background-image: url("../img/melt.svg");
  opacity:0.05;
  z-index: -1;
}

#assignments, #positionlab, #gridlab, #finalproject {
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  border: 1px solid #00000050;
  box-shadow: 0px 3px 8px #000;
  padding: 5px;
} 

#assignments ul {
  list-style-type: none;
  padding: 0px 40px 20px 40px;
}

#assignments ul li {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 5px 5px #000;
  margin: 15px;
  padding: 15px 10px;
}

#assignments ul li a {
  color: #7F6599;
  font-weight: 500;
  font-size: 1.2rem;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

#position-lab, #grid-lab, #final-project{
  width:100%;
  border: 1px solid #c0c0c0;
  margin: auto auto;
  border-collapse: collapse;
  text-align: center;
}

#position-lab caption,
#grid-lab caption,
#final-project caption {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#position-lab th,
#grid-lab th,
#final-project th {
  background: #000;
  color: #FFF;
  font-size: 1.2rem;
}

#position-lab tr,
#grid-lab tr,
#position-lab td,
#grid-lab td,
#final-project tr,
#final-project td {
  border: 1px solid #c0c0c0;
  padding: 5px 0px;
}

#position-lab tr:nth-child(even),
#grid-lab tr:nth-child(even),
#final-project tr:nth-child(even) {
  background-color: rgba(0,0,0,.1);
}

#position-lab td:hover,
#grid-lab td:hover,
#final-project td:hover {
  background-color: rgba(0,0,0,.2);
}

#grid-lab, #final-project {
  margin-top: 30px;
}

#position-lab td,
#position-lab th,
#grid-lab td,
#grid-lab th {
  width: 25%;
}

#final-project td,
#final-project th {
  width: 50%;
}
