/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  -------------Utility Classes---------------  */
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 960px;
}

.img-right{
  float: right; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 0px 10px 20px;
}

.img-left{
  float: left; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 20px 10px 0px;
}

.img-center{
  display:block;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

 /*  -------------Global Styles---------------  */

body {
  background-color: #FFFFFF;
  font-family: "montserrat";
  margin:0;
  background-image: url("../img/bg.svg");
}

header.primary {
  position:relative;
  z-index:0;
  background: #5c00b9;
  color: #FFF;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 0px 0px 8px #000;
} 

header.primary h1 {
  font-size: 2.8rem;
  margin-bottom: 0px;
  font-weight: 300;
  text-shadow: 0px 0px 5px #000;
}

header.primary h2 {
  font-weight: 500;
  text-shadow: 0px 0px 5px #000;
  margin-top: 5px;
  font-size: 1.2rem;
}

header.primary::before {
  content:"";
  position:absolute;
  inset:0;
  background-image: url("../img/melt.svg");
  opacity:0.05;
  z-index: -1;
}

section#grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
}

section#essay {
  padding-bottom: 0px;
}

#assignments, #positionlab, #gridlab, #finalproject {
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  border: 1px solid #00000050;
  box-shadow: 0px 2px 3px #000;
} 

#assignments ul {
  list-style-type: none;
  padding: 0px;
}

/* Spent a day learning about transitions/transforms and stuff. Practicing it here. */
#assignments ul li {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  margin: 15px;
  padding: 15px 10px;
  transition: transform 0.2s ease;
}

#assignments ul li a {
  display: block;
  color: #7F6599;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

#assignments ul li:hover {
  cursor: pointer;
  transform: scale(1.02);
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

#essay h3 {
  margin: 15px auto;
}


table {
  width: 80%;
  margin: 0 auto 40px auto;
  border-collapse: collapse;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 1px 8px #000;
  background-color: #fff;
}

table th {
  background: #7F6599;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px 0;
}

table tr, table td {
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

table td a {
  color: #7F6599;
  font-weight: 500;
  font-size: 1.1rem;
}

table td::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 30px;
  transition: background 0.3s ease;
  pointer-events: none;
  filter: blur(6px);
}

table td:hover::before {
  background: rgba(0, 0, 0, 0.15); 
}

table td, table th {
  width: 25%;
}

#final-project td,
#final-project th {
  width: 50%;
}

#note, #essay {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  margin: 0px 100px 40px 100px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #000;
}

#essay {
  margin: 0px 20px 0px 0px;
  box-shadow: 0 2px 5px #000;
}

#note p {
  font-size: 1.0rem;
  line-height: 1.6;

}

#essay p {
  font-size: 1.0rem;
  line-height: 1.6;
}
