
/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  -------------Utility Classes---------------  */
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 960px;
}

.img-right{
  float: right; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 0px 10px 20px;
}

.img-left{
  float: left; 
  border: 1px solid #ccc;
  padding:5px;
  border-radius: 5px;
  margin: 10px 20px 10px 0px;
}

.img-center{
  display:block;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}



/*  ------------- Global Styles ---------------  */

body {
  font-family: "roboto";
  margin: 0;
  color:white;
  background-color: #BBBBBB;
}


nav {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto 5fr auto;
  background-color: #515151;
}

nav figure {
  margin: 0;
  padding: 15px 20px;
}

nav img {
  max-width: 180px;
}

nav ul {
  display:flex;
  gap: 4rem;
  margin: auto auto;
  padding: 0;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFF;
}

nav button {
  margin: auto 20px;
  padding: 0px 8px;
  height: 80px;
  max-height: 50px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.2);
}

nav button a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 300;
}

section#hero {
}
